# yaml-language-server: $schema=https://raw.githubusercontent.com/SchemaStore/schemastore/refs/heads/master/src/schemas/json/github-workflow.json
name: Run dev build
on: push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false
jobs:
  gradle:
    strategy:
      matrix:
        java_version: [23]
        os: [ubuntu-latest] # [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v3
      - name: Set up JDK ${{ matrix.java_version }}
        uses: actions/setup-java@v4
        with:
          distribution: oracle
          java-version: ${{ matrix.java_version }}
          cache: gradle
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
      - name: Run Gradle build
        run: ./gradlew build
